<p>Todo List App</p>
<input type="text" class="todo-input" placeholder="What needs to be done" [(ngModel)]="todoName" (keyup.enter)="addTodo()">
<todo-item *ngFor="let todo of todoService.todosFiltered()" [todo]="todo"></todo-item>
<div class="extra-container">
  <div>
    <button [ngClass]="{'active': todoService.searchCriteria === 'all'}" (click)="todoService.searchCriteria='all'"mat-raised-button>All</button>
    <button [ngClass]="{'active': todoService.searchCriteria === 'active'}" (click)="todoService.searchCriteria='active'"mat-raised-button>Active</button>
    <button [ngClass]="{'active': todoService.searchCriteria === 'completed'}" (click)="todoService.searchCriteria='completed'"mat-raised-button>Completed</button>
  </div>
</div>
