.todo-input {
  width: 98%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 18px;
  margin-bottom: 16px;
}

.main-container{
  width: 25%;
  margin: 0 auto;
}
.title {

}
.extra-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding-top: 14px;
  margin-bottom: 14px;
}

button {
  font-size: 14px;
  background-color: white;
  appearance: none;

  &:hover {
    background: #A1D021;
  }

  &:focus {
    outline: none;
  }
}

.active {
  background: #49B33C;
}

// CSS Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
