<div class="todo-item">
  <div>
    <input type="checkbox" [(ngModel)]="todo.completed" (change)="todoService.doneEdit(todo)">
    <div *ngIf="!todo.editing;" class="todo-item-label" [ngClass]="{ 'completed' : todo.completed }"
      (dblclick)="todoService.editTodo(todo)">{{ todo.name }}</div>
    <div *ngIf="todo.editing;">
      <input type="text" [(ngModel)]="todo.name" (blur)="todoService.doneEdit(todo)" (keyup.enter)="todoService.doneEdit(todo)"
        (keyup.esc)="todoService.cancelEdit(todo)">
    </div>
  </div>
  <div class="remove-item" (click)="todoService.deleteTodo(todo.id)">
    &times;
  </div>
</div>
