.todo-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  // justify-content: space-around;
}

.remove-todo {
  cursor: pointer;
}

.todo-item-label {
  padding: 10px;
  border: 1px solid white;
  margin-left: 12px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.remove{
  align-items: flex-end;
}

.completed {
  text-decoration: line-through;
  color: grey;
}
